//////////////////////
// reset
//////////////////////

a,
.button {
  #{$focus} {
    outline: 0;
  }
}

//////////////////////
// structure
//////////////////////

html,
body {
  height: 100%;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//////////////////////
// utils
//////////////////////

.box {
  @include box;
  @include clear;
}
.clear {
  @include clear;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.nowrap {
  white-space: nowrap;
}
[disabled] {
  cursor: default;
  opacity: 1;
  pointer-events: none;
}

//////////////////////
// icons
//////////////////////

/* caret */
.caret-down,
.caret-up,
.caret-right,
.caret-left {
  vertical-align: middle;
  top: -0.08em;
}
.caret-down {
  border-style: solid;
  border-color: transparent;
  border-bottom-width: 0 !important; 
}
.caret-up {
  border-style: solid;
  border-color: transparent;
  border-top-width: 0 !important; 
}
.caret-right {
  border-style: solid;
  border-color: transparent;
  border-right-width: 0 !important; 
}
.caret-left {
  border-style: solid;
  border-color: transparent;
  border-left-width: 0 !important; 
}

//////////////////////
// button
//////////////////////

a, button {
  cursor: pointer;
}
.button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  // content
  /*
  .left {
    float: left;
    top: 0.1em; // vertical fix
  }
  .right {
    float: right;
    top: 0.1em; // vertical fix
  }
  */
  .text {
    display: inline-block;
    overflow: hidden;
  }
}

//////////////////////
// spacer
//////////////////////

.spacer {
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  /* justification */
  &.left {
    justify-content: flex-start;
  }
  &.right {
    justify-content: flex-end;
  }
  &.center {
    justify-content: center;
  }
  &.between {
    justify-content: space-between;
  }
  &.around {
    justify-content: space-around;
  }
  /* alignment */
  &.top {
    > * {
      align-self: flex-start;
    }
  }
  &.bottom {
    > * {
      align-self: flex-end;
    }
  }
  &.middle {
    > * {
      align-self: center;
    }
  }
  &.stretch {
    > * {
      align-self: stretch;
    }
  }
}

//////////////////////
// toggle
//////////////////////

.toggle-block {
  display: none !important;
  &.active,
  &.fade-out {
    display: block !important;
  }
}
.toggle-flex {
  display: none !important;
  &.active,
  &.fade-out {
    display: flex !important;
  }
}
.toggle-inline {
  display: none !important;
  &.active,
  &.fade-out {
    display: inline !important;
  }
}
.toggle-inline-block {
  display: none !important;
  &.active,
  &.fade-out {
    display: inline-block !important;
  }
}
.toggle-none {
  &.active,
  &.fade-out {
    display: none !important;
  }
}

//////////////////////
// drop
//////////////////////

.drop-outer {
  display: inline-block;
  position: relative;
  .drop-stack & {
    position: static;
  }
}
.drop {
  @extend .toggle-flex;
  position: absolute;
  z-index: 110;
  /* content */
  .button,
  .drop-outer {
    float: left;
    width: 100%;
    text-align: left;
    white-space: nowrap;
  }
  /* before and after */
  &.before {
    left: auto;
    right: 100%;
  }
  &.after {
    left: 100%;
    right: auto;
  }
  &.before,
  &.after {
    &.bottom {
      top: 0;
      bottom: auto;
    }
    &.top {
      top: auto;
      bottom: 0;
    }
  }
  /* left and right */
  &.left {
    left: 0;
    right: auto;
  }
  &.right {
    left: auto;
    right: 0;
  }
  &.left,
  &.right {
    &.bottom {
      top: 100%;
      bottom: auto;
    }
    &.top {
      top: auto;
      bottom: 100%;
    }
  }
  /* middle */
  &.middle {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  /* dimensions */
  &.max-height {
    .drop-inner {
      overflow-y: auto;
    }
  }
  &.max-width {
    .drop-inner {
      overflow-x: auto;
    }
  }
}

//////////////////////
// overlay
//////////////////////

.overlay {
  @extend .toggle-block;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* styles */
  .overlay-inner {
    display: flex;
    position: relative;
    z-index: 110;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
  }
  .overlay-content {
    position: relative;
    align-self: center;
  }
  /* full */
  &.full {
    .overlay-content {
      display: flex;
      position: static;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }
    .overlay-content + .xt-backdrop {
      display: none;
    }
  }
  /* close */
  .overlay-close {
    position: absolute;
    top: 0;
    right: 0;
  }
  .overlay-close + * {
    margin-top: 0;
  }
}

//////////////////////
// plugin
//////////////////////

/* .xt-container and .xt-position */
.xt-container {
  position: relative;
  width: 100%;
}
.xt-position {
  float: left;
  width: 100%;
}

/* .xt-backdrop */
.xt-backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.backdrop-over {
  &.active,
  &.fade-out {
    position: relative;
    z-index: 110;
  }
}

/* .xt-fixed */
html.xt-fixed-vertical {
  body {
    overflow-y: hidden;
  }
  .overlay {
    overflow-y: scroll;
  }
}
html.xt-fixed-horizontal {
  body {
    overflow-x: hidden;
  }
  .overlay {
    overflow-x: scroll;
  }
}

/* animations */
.anim-width {
  overflow: hidden;
  width: 0;
}
.anim-height {
  overflow: hidden;
  height: 0;
}
.no-anim,
.no-anim .xt-backdrop {
  transition: none !important;
}
