//////////////////////
// normalize
//////////////////////

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
img {
  display: block;
}
a,
button {
  cursor: pointer;
  text-decoration: none;
  &:focus {
    outline: 0;
  }
}

//////////////////////
// document
//////////////////////

html,
body {
  height: 100%;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

//////////////////////
// utils
//////////////////////

/* float */
.float {
  position: relative;
  float: left;
  width: 100%;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}

/* img */
img.fluid {
  max-width: 100%;
  height: auto;
}
img.center {
  margin-left: auto;
  margin-right: auto;
}

/* text */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.nowrap {
  white-space: nowrap;
}

/* show + hide */
.show {
  display: block !important;
}
.hide {
  display: none !important;
}

/* disabled */
[disabled] {
  cursor: default;
  opacity: 0.75;
  pointer-events: none;
}

/* others */
.clear {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.no-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.text-selection {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.accelerate {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  transform: translateZ(0);
}

//////////////////////
// flex + spacer + media + card
//////////////////////

.flex,
.spacer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  &.wrap-reverse {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  &.reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
.media,
.card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  &.reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  > .item.fluid {
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
  }
}
.vertical {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  &.reverse {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  > .item {
    width: 100%;
  }
}
.flex,
.spacer,
.media {
  /* spacing */
  &:not(:first-child) {
    margin-top: 0 !important;
  }
  &:not(:last-child) {
    margin-bottom: 0 !important;
  }
}
.card {
  width: 100%;
  /* spacing */
  margin: 0 !important;
  > *:not(.item) {
    padding: 0 !important;
  }
}
.flex,
.spacer,
.media,
.card {
  /* alignment */
  &.middle {
    > * {
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
    }
  }
  &.top {
    > * {
      -webkit-align-items: flex-start;
      -ms-align-items: start;
      align-items: flex-start;
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start;
    }
  }
  &.bottom {
    > * {
      -webkit-align-items: flex-end;
      -ms-align-items: end;
      align-items: flex-end;
      -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end;
    }
  }
  &.stretch {
    > * {
      -webkit-align-items: stretch;
      -ms-align-items: stretch;
      align-items: stretch;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
      > * {
        height: 100%;
      }
    }
  }
  /* alignment */
  > * {
    &.middle {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
    }
    &.top {
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start;
    }
    &.bottom {
      -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end;
    }
    &.stretch {
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
    }
  }
  /* justification */
  &.left {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    > .item {
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
  }
  &.right {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    > .item {
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
    }
  }
  &.center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    > .item {
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }
  &.between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    > .item {
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }
  &.around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    > .item {
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
  }
}

//////////////////////
// card
//////////////////////

.card {
  // separator
  &.separator {
    > .item {
      display: -webkit-flex;
      //display: -ms-flexbox; // BUG ie10 breaks layout
      display: flex;
      -webkit-align-self: stretch;
      //-ms-flex-item-align: stretch; // BUG ie10 breaks layout
      align-self: stretch;
    }
    > .item {
      &:first-child:before,
      &:first-child:after {
        display: none !important;
      }
    }
    > .item:before,
    > .item:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      .reverse& {
        top: auto;
        bottom: 0;
        left: auto;
        right: 0;
      }
    }
    > .item:after {
      display: none;
    }
  }
  // card styles for separator
  &.vertical {
    > .item {
      &:before {
        display: none !important;
      }
      &:after {
        display: block !important;
      }
    }
  }
  // card styles for paddings
  &:not(.vertical):not([class*=" vertical-"]) {
    &:not(.separator) {
      &:not(.reverse) {
        > .item + .item {
          padding-left: 0;
        }
      }
      &.reverse {
        > .item + .item {
          padding-right: 0;
        }
      }
    }
  }
  &.vertical {
    &:not(.separator) {
      &:not(.reverse) {
        > .item + .item {
          padding-top: 0;
        }
      }
      &.reverse {
        > .item + .item {
          padding-bottom: 0;
        }
      }
    }
  }
}

//////////////////////
// button
//////////////////////

.button {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  text-align: center;
  // content
  /*
  .left {
    float: left;
    top: .1em; // vertical fix
  }
  .right {
    float: right;
    top: .1em; // vertical fix
  }
  */
  .text {
    display: inline-block;
    overflow: hidden;
  }
}

//////////////////////
// contain
//////////////////////

.contain {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  &.fluid {
    width: auto !important;
  }
}

//////////////////////
// column + group + item
//////////////////////

.column,
.group,
.item {
  position: relative;
  max-width: 100%;
}
.column {
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  width: 100%;
}
.group {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

//////////////////////
// icons
//////////////////////

/* caret */
.caret-down,
.caret-up,
.caret-right,
.caret-left {
  vertical-align: middle;
  top: -.08em;
}
.caret-down {
  border-style: solid;
  border-color: transparent;
  border-bottom-width: 0 !important; 
}
.caret-up {
  border-style: solid;
  border-color: transparent;
  border-top-width: 0 !important; 
}
.caret-right {
  border-style: solid;
  border-color: transparent;
  border-right-width: 0 !important; 
}
.caret-left {
  border-style: solid;
  border-color: transparent;
  border-left-width: 0 !important; 
}

//////////////////////
// drop
//////////////////////

.drop-outer {
  display: inline-block;
  position: relative;
  /* static */
  &.static {
    position: static;
    .drop,
    .drop-inner {
      width: 100%;
    }
  }
}
.drop {
  .toggle-flex;
  position: absolute;
  z-index: 110;
  /* content */
  .button,
  .drop-outer {
    float: left;
    width: 100%;
    text-align: left;
    white-space: nowrap;
  }
  /* before + after */
  &.before {
    left: auto;
    right: 100%;
  }
  &.after {
    left: 100%;
    right: auto;
  }
  /* left + right */
  &.left {
    left: 0;
    right: auto;
  }
  &.right {
    left: auto;
    right: 0;
  }
  /* bottom + top */
  &.bottom {
    top: 100%;
    bottom: auto;
  }
  &.top {
    top: auto;
    bottom: 100%;
  }
  /* middle */
  &.middle-bottom {
    top: auto;
    bottom: 0;
  }
  &.middle-top {
    top: 0;
    bottom: auto;
  }
  &.middle-top,
  &.middle-bottom,
  &.middle {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  /* dimensions */
  &.max-height {
    .drop-inner {
      overflow-y: auto;
    }
  }
  &.max-width {
    .drop-inner {
      overflow-x: auto;
    }
  }
  /* others */
  &.fade-out {
    pointer-events: none;
  }
}

//////////////////////
// overlay
//////////////////////

.overlay {
  .toggle-flex;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* styles */
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  .overlay-inner {
    position: relative;
    z-index: 110;
    width: 100%;
    min-height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .overlay-content {
    position: relative;
    width: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  /* screen */
  &.screen {
    .overlay-content {
      position: static;
    }
    .overlay-inner + .xt-backdrop {
      display: none;
    }
  }
  /* close */
  .overlay-close {
    position: absolute !important;
    top: 0;
    right: 0;
  }
  .overlay-close + * {
    margin-top: 0 !important;
  }
}

//////////////////////
// plugins
//////////////////////

/* xt-container + xt-position */
.xt-container {
  position: relative;
  width: 100%;
}
.xt-position {
  float: left;
  width: 100%;
}

/* toggle */
.toggle-block {
  display: none !important;
  &.active,
  &.fade-out {
    display: block !important;
  }
}
.toggle-flex {
  display: none !important;
  &.active,
  &.fade-out {
    display: -webkit-flex;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
.toggle-inline {
  display: none !important;
  &.active,
  &.fade-out {
    display: inline !important;
  }
}
.toggle-inline-block {
  display: none !important;
  &.active,
  &.fade-out {
    display: inline-block !important;
  }
}
.toggle-none {
  &.active,
  &.fade-out {
    display: none !important;
  }
}

/* animations */
.collapse-height {
  overflow: hidden;
  height: 0;
}
.collapse-width {
  overflow: hidden;
  width: 0;
}
.no-anim,
.no-anim .xt-backdrop {
  animation: none !important;
  transition: none !important;
}

/* xt-backdrop */
.xt-backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.backdrop-over {
  &.active,
  &.fade-out {
    position: relative;
    z-index: 110;
  }
}

/* xt-fixed */
html.xt-fixed-vertical {
  body {
    overflow-y: hidden;
  }
  .overlay {
    overflow-y: scroll;
  }
}
html.xt-fixed-horizontal {
  body {
    overflow-x: hidden;
  }
  .overlay {
    overflow-x: scroll;
  }
}

//////////////////////
// mixins
//////////////////////

// .xt-scroll();
.xt-scroll(@position:'top', @pos:0) {
  .show-scroll {
    display: none;
  }
  .hide-scroll {
    display: block;
  }
  &.active.xt-clone {
    display: block !important;
  }
  &.active:not(.xt-clone) {
    position: fixed !important;
    width: inherit; // fix fixed width
    z-index: 70;
    & when (@position = 'top') {
      top: @pos;
    }
    & when (@position = 'bottom') {
      bottom: @pos;
    }
    .show-scroll {
      display: block;
    }
    .hide-scroll {
      display: none;
    }
  }
}

//////////////////////
// generate
//////////////////////

/* default */
.grid(size; @columns); // default flex grid
.size-auto {
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  max-width: none;
  width: auto;
}

/* responsive */
.for(@breakpoints); .-each(@value) {
  @name: extract(@value, 1);
  
  @query-min: "min-@{name}";
  @media @@query-min {
    
    // generate flex grid
    .grid(@name; @columns);
    
    // -auto
    .@{name}-auto {
      -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      max-width: none;
      width: auto;
    }
    
    // .contain
    @unit: "contain-@{name}";
    .contain {
      width: unit(@@unit, px);
    }
    
    // .vertical
    .vertical-@{name} {
      &.card {
        // card styles for paddings
        &:not(.separator) {
          &:not(.reverse) {
            > .item + .item {
              padding-left: 0;
            }
          }
          &.reverse {
            > .item + .item {
              padding-right: 0;
            }
          }
        }
      }
    }
    
  }
  
  @query-max: "max-@{name}";
  @media @@query-max {
    
    // .vertical
    .vertical-@{name} {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      &.reverse {
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
      }
      > .item {
        width: 100%;
      }
      // card styles for separator
      &.card {
        > .item {
          &:before {
            display: none;
          }
          &:after {
            display: block;
          }
        }
      }
      // card styles for paddings
      &:not(.separator) {
        &:not(.reverse) {
          > .item + .item {
            padding-top: 0;
          }
        }
        &.reverse {
          > .item + .item {
            padding-bottom: 0;
          }
        }
      }
    }
    
  }
  
}

// grid generator
.grid(@name; @columns; @index: 1) when (@index =< @columns) {
  .grid(@name; @columns; (@index + 1));
  @val: (percentage(@index / @columns));
  .@{name}-@{index} {
    -webkit-flex-basis: @val;
    -ms-flex-preferred-size: @val;
    flex-basis: @val;
    max-width: @val;
    width: @val;
  }
}

// .for loop
.for(@i, @n) {.-each(@i)}
.for(@n)     when (isnumber(@n)) {.for(1, @n)}
.for(@i, @n) when not (@i = @n)  {
  .for((@i + (@n - @i) / abs(@n - @i)), @n);
}

// .for-each loop
.for(@array)   when (default()) {.for-impl_(length(@array))}
.for-impl_(@i) when (@i > 1)    {.for-impl_((@i - 1))}
.for-impl_(@i) when (@i > 0)    {.-each(extract(@array, @i))}
