//////////////////////
// button
//////////////////////

.button {
  /* styles */
  border: 0;
  border-radius: 0;
  .font-sans-regular();
  letter-spacing: .05em;
  text-transform: uppercase;
  /* sizes */
  .button.medium; // default size
  line-height: 1.25;
  &.tiny {
    font-size: 9px;
  }
  &.small {
    font-size: 11px;
  }
  &.medium {
    font-size: 12px;
  }
  &.large {
    font-size: 13px;
  }
  &.giant {
    font-size: 15px;
  }
  /* spacing */
  padding: .618em 1em;
  &.wide {
    padding-left: 1.618em;
    padding-right: 1.618em;
  }
  &.tall {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  /* variants */
  .button.grey; // default variant
  &.primary {
    background-color: @color-primary;
    color: @color-white;
    &:hover,
    &:active, &.active {
      background-color: darken(@color-primary, 5%);
      color: @color-white;
    }
  }
  &.secondary {
    background-color: @color-secondary;
    color: @color-white;
    &:hover,
    &:active, &.active {
      background-color: darken(@color-secondary, 5%);
      color: @color-white;
    }
  }
  &.grey {
    background-color: darken(@color-white, 10%);
    color: @color-text;
    &:hover,
    &:active, &.active {
      background-color: darken(@color-white, 15%);
      color: @color-text;
    }
  }
  &.white {
    background-color: transparent;
    color: @color-text;
    &:hover,
    &:active, &.active {
      background-color: fade(@color-primary, 10%);
      color: @color-primary;
    }
  }
  /* animations */
  &:not([class*=" anim-"]) {
    .transition-default;
  }
}

//////////////////////
// drop
//////////////////////

.drop {
  /* styles */
  .drop-inner {
    padding: .618rem 0; // vertical spacing
    -webkit-box-shadow: 0 0 5px fade(@color-black, 20%);
    box-shadow: 0 0 5px fade(@color-black, 20%);
  }
  .drop-inner > .button {
    .button.wide; // default button
    padding-right: 40px !important;
  }
  /* variants */
  .drop.white; // default variant
  .drop.left; // default position
  .drop.bottom; // default position
  &.primary {
    .drop-inner {
      background-color: @color-primary;
      color: @color-white;
    }
    .drop-inner > .button {
      .button.primary;
    }
  }
  &.secondary {
    .drop-inner {
      background-color: @color-secondary;
      color: @color-white;
    }
    .drop-inner > .button {
      .button.secondary;
    }
  }
  &.grey {
    .drop-inner {
      background-color: darken(@color-white, 10%);
      color: @color-text;
    }
    .drop-inner > .button {
      .button.grey;
    }
  }
  &.white {
    .drop-inner {
      background-color: @color-white;
      color: @color-text;
    }
    .drop-inner > .button {
      .button.white;
    }
  }
  /* dimensions */
  &.max-height {
    .drop-inner {
      max-height: 225px;
    }
  }
  &.max-width {
    .drop-inner {
      max-width: 225px;
    }
  }
  /* animations */
  &:not([class*=" anim-"]) {
    .anim-vertical-zoom;
  }
}

//////////////////////
// overlay
//////////////////////

.overlay {
  /* styles */
  .overlay-content {
    padding: 30px;
    @media @min-sm {
      padding: 40px;
    }
  }
  .overlay-close {
    .button;
    width: 50px;
    height: 50px;
    font-size: 12px;
    background-color: transparent;
    color: @color-text-75;
    &:hover,
    &:active, &.active {
      background-color: transparent;
      color: @color-primary;
    }
  }
  /* sizes */
  .overlay.medium; // default size
  &.screen {
    .overlay.full; // default size
  }
  /* variants */
  .overlay.white; // default variant
  &.primary {
    .overlay-content,
    &.screen .overlay-inner {
      background-color: @color-primary;
      color: @color-white;
    }
    .overlay-close {
      color: @color-white;
    }
  }
  &.secondary {
    .overlay-content,
    &.screen .overlay-inner {
      background-color: @color-secondary;
      color: @color-white;
    }
    .overlay-close {
      color: @color-white;
    }
  }
  &.white {
    .overlay-content,
    &.screen .overlay-inner {
      background-color: @color-white;
      color: @color-text;
    }
    .overlay-close {
      color: @color-text-75;
    }
  }
  /* animations */
  .overlay-inner:not([class*=" anim-"]) {
    .anim-vertical-zoom;
  }
  &.screen {
    .overlay-inner:not([class*=" anim-"]) {
      .anim-vertical;
    }
  }
}

//////////////////////
// Others
//////////////////////

/* .xt-backdrop */
.xt-backdrop {
  /* styles */
  background-color: @color-black;
  /* animations */
  &:not([class*=" anim-"]) {
    .transition-default;
    opacity: 0;
    &.fade-in {
      opacity: .2;
    }
    &.fade-out {
      opacity: 0;
    }
  }
}

//////////////////////
// icons
//////////////////////

/* .icon- */
.icon {
  display: inline-block;
  position: relative;
  /* alignment */
  &.left {
    margin-right: .35em;
  }
  &.right {
    margin-left: .35em;
  }
  /* sizes */
  /*
  .tiny {
    font-size: .5em;
  }
  .small {
    font-size: .75em;
  }
  .medium {
    font-size: 1em;
  }
  .large {
    font-size: 1.5em;
  }
  .giant {
    font-size: 2em;
  }
  */
}

/* caret */
.caret-down,
.caret-up,
.caret-right,
.caret-left {
  border-width: .3em;
}
.caret-down {
  border-top-color: @color-text;
}
.caret-up {
  border-bottom-color: @color-text;
}
.caret-right {
  border-left-color: @color-text;
}
.caret-left {
  border-right-color: @color-text;
}

/* swap-in + swap-out */
.swap-in {
  display: none;
}
.button {
  &:hover,
  &:active, &.active {
    .swap-in {
      display: inline-block;
    }
    .swap-out {
      display: none !important;
    }
  }
}

/* swap */
.button {
  .swap-out.swap-bottom {
    .animation-default;
    .anim-bottom.fade-in;
  }
  .swap-out.swap-top {
    .animation-default;
    .anim-top.fade-in;
  }
  .swap-out.swap-left {
    .animation-default;
    .anim-left.fade-in;
  }
  .swap-out.swap-right {
    .animation-default;
    .anim-right.fade-in;
  }
  &:hover,
  &:active, &.active {
    .swap-bottom {
      .animation-default;
      .anim-bottom.fade-in;
    }
    .swap-top {
      .animation-default;
      .anim-top.fade-in;
    }
    .swap-left {
      .animation-default;
      .anim-left.fade-in;
    }
    .swap-right {
      .animation-default;
      .anim-right.fade-in;
    }
  }
}