//////////////////////
// ratios
//////////////////////

/* ratios
.618
.809
1
1.238
2.619
3.224
*/

//////////////////////
// colors
//////////////////////

$color-primary: #00B0FF !default;
$color-primary-75: rgba($color-primary, .75) !default;
$color-primary-25: lighten($color-primary, 25%) !default;

$color-text: #000000 !default;
$color-text-75: lighten($color-text, 75%) !default;

$color-background: #ffffff !default;

$color-red: #d14 !default;

$color-white: #ffffff !default;
$color-white-75: rgba($color-white, .75) !default;
$color-white-50: rgba($color-white, .5) !default;

$color-grey: #f8f8f8 !default;

$color-black: #000000 !default;
$color-black-75: rgba($color-white, .75) !default;

//////////////////////
// fonts
//////////////////////

// usage: @include font(sans-regular);
$xt-fonts: (
  sans-light: (
    font-family: unquote('"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif'),
    font-weight: 300,
    font-style: normal,
  ),
  sans-regular: (
    font-family: unquote('"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif'),
    font-weight: 400,
    font-style: normal,
  ),
  sans-medium: (
    font-family: unquote('"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif'),
    font-weight: 600,
    font-style: normal,
  ),
  monospace: (
    font-family: unquote('monaco, Consolas, "Lucida Console", monospace'),
    font-weight: normal,
    font-style: normal,
  ),
) !default;
// export fonts
@mixin font($key, $important:false) {
  $map: map-get($xt-fonts, $key);
  @each $property, $value in $map {
    @if $important == !important {
      #{$property}: $value !important;
    } @else {
      #{$property}: $value;
    }
  }
}

//////////////////////
// spacing
//////////////////////

// @include spacing-headers;
@mixin spacing-headers {
  margin-top: 2.619rem;
  margin-bottom: 1.238rem;
  &:first-child {
    margin-top: 0 !important;
  }
}

// @include spacing-headers-small;
@mixin spacing-headers-small {
  margin-top: 1.238rem;
  margin-bottom: 1rem;
  &:first-child {
    margin-top: 0 !important;
  }
}

// @include spacing-text;
@mixin spacing-text {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0 !important;
  }
}

//////////////////////
// mixins
//////////////////////

// @include box;
@mixin box {
  position: relative;
  float: left;
  width: 100%;
}

// @include clear;
@mixin clear {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// @include no-selection;
@mixin no-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// @include text-selection;
@mixin text-selection {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

// @include accelerate;
@mixin accelerate {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  transform: translateZ(0);
}

// #{$hover} {}
$hover: "&:hover"; //$hover: "&:hover:not(.active), &.hover:not(.active)";

// #{$active} {}
$active: "&:active, &.active"; //$active: "&:active, &.active, &:active:focus, &:active.focus, &.active:focus, &.active.focus";

// #{$focus} {}
$focus: "&:focus"; //$focus: "&:focus, &.focus";

//////////////////////
// xt-scroll
//////////////////////

@mixin xt-scroll($item, $position:'top', $pos:false) {
  #{$item} {
    .show-scroll {
      display: none;
    }
    .hide-scroll {
      display: block;
    }
  }
  #{$item}.active.xt-clone {
    display: block !important;
  }
  #{$item}.active:not(.xt-clone) {
    position: fixed !important;
    width: inherit; // fix fixed width
    z-index: 70;
    @if $position == 'top' {
      @if $pos {
        top: $pos;
      } @else {
        top: 0;
      }
    } @elseif $position == 'bottom' {
      @if $pos {
        bottom: $pos;
      } @else {
        bottom: 0;
      }
    }
    .show-scroll {
      display: block;
    }
    .hide-scroll {
      display: none;
    }
  }
}
