//////////////////////
// xtend variables
//////////////////////

// override variables
@import "_xt-variables.scss";
@import "_xt-base.scss";

//////////////////////
// structure
//////////////////////

html {
  font-size: 16px;
}
body {
  background: $color-background;
  @include font(sans-regular);
  font-size: 1rem;
  line-height: 1.8;
  color: $color-text;
}

//////////////////////
// headers
//////////////////////

h1, .h1,
h2, .h2,
h3, .h3 {
  @include spacing-headers;
  @include font(sans-medium);
  line-height: 1.3;
  & + & {
    margin-top: 1.238rem;
  }
}
h4, .h4,
h5, .h5,
h6, .h6 {
  @include spacing-headers-small;
  @include font(sans-light);
  line-height: 1.3;
  & + & {
    margin-top: 1rem;
  }
}
h1, .h1 {
  font-size: 3.224rem;
}
h2, .h2 {
  font-size: 2.619rem;
}
h3, .h3 {
  font-size: 1.619rem;
}
h4, .h4 {
  font-size: 1.619rem;
}
h5, .h5 {
  font-size: 1.238rem;
}
h6, .h6 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

//////////////////////
// typography
//////////////////////

.lead {
  @extend .h5;
}
p {
  @include spacing-text;
}
strong {
  @include font(sans-medium);
}

//////////////////////
// links
//////////////////////

a:not(.button) {
  color: $color-primary;
  #{$hover},
  #{$active},
  #{$focus} {
    color: $color-primary;
    text-decoration: underline;
  }
}
.button {
  #{$focus} {
  }
}

//////////////////////
// icons
//////////////////////

/* .icon- */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  top: -0.1em; // vertical fix to ascenders
  /* alignment */
  &.left {
    margin-right: 0.7em;
  }
  &.right {
    margin-left: 0.7em;
  }
}

//////////////////////
// spacer
//////////////////////

.spacer {
  /* spacing */
  margin-left: -0.618rem;
  &:last-child {
    margin-bottom: -0.618rem;
  }
  > * {
    margin-left: 0.618rem;
    margin-bottom: 0.618rem;
  }
  &.spacer-xs {
    margin-left: 0;
    margin-bottom: 0;
    > * {
      margin-left: 0;
      margin-bottom: 0;
    }
  }
  &.spacer-sm {
    margin-left: -0.5rem;
    &:last-child {
      margin-bottom: -0.5rem;
    }
    > * {
      margin-left: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
  &.spacer-md {
    margin-left: -1.238rem;
    &:last-child {
      margin-bottom: -1.238rem;
    }
    > * {
      margin-left: 1.238rem;
      margin-bottom: 1.238rem;
    }
  }
  &.spacer-lg {
    margin-left: -2.619rem;
    &:last-child {
      margin-bottom: -2.619rem;
    }
    > * {
      margin-left: 2.619rem;
      margin-bottom: 2.619rem;
    }
  }
  /* expand to .button sizes */
  /*
  &.expand {
    margin-left: -10px;
    margin-right: -10px;
  }
  &.expand-sm {
    margin-left: -8px;
    margin-right: -8px;
  }
  &.expand-md {
    margin-left: -12px;
    margin-right: -12px;
  }
  */
}

//////////////////////
// button
//////////////////////

.button {
  /* sizes */
  padding: 8px 12px;
  font-size: 12px;
  line-height: 1.238;
  &.size-xs {
    padding: 4px 8px;
    font-size: 10px;
  }
  &.size-sm {
    padding: 6px 10px;
    font-size: 11px;
  }
  &.size-md {
    padding: 10px 14px;
    font-size: 13px;
  }
  &.size-lg {
    padding: 12px 16px;
    font-size: 14px;
  }
  /* styles */
  border: 0;
  border-radius: 0;
  @include font(sans-regular);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  & {
    background: darken($color-white, 10%);
    color: $color-text;
    #{$hover},
    #{$active} {
      background: darken($color-white, 15%);
      color: $color-text;
    }
    #{$active} {
      box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    }
  }
  &.color-primary {
    background: $color-primary;
    color: $color-white;
    #{$hover},
    #{$active} {
      background: darken($color-primary, 5%);
      color: $color-white;
    }
  }
  &.color-text {
    background: transparent !important;
    color: $color-primary;
    #{$hover},
    #{$active} {
      color: $color-text;
    }
  }
  &.color-white {
    background: transparent !important;
    color: $color-white-light;
    #{$hover},
    #{$active} {
      color: $color-white;
    }
  }
}

//////////////////////
// animations
//////////////////////

// transition for all animations
[class^="a-"],
[class*=" a-"] {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(.63,.36,0,.97);
  transition-delay: 0ms;
}

// .a-horizontal
.a-horizontal {
  opacity: 0;
  transform: translateX(-0.618rem);
  &.fadein {
    opacity: 1;
    transform: translateX(0);
  }
  &.fadeout {
    opacity: 0;
    transform: translateX(0.618rem);
  }
}

// .a-vertical
.a-vertical {
  opacity: 0;
  transform: translateY(-0.618rem);
  &.fadein {
    opacity: 1;
    transform: translateY(0);
  }
  &.fadeout {
    opacity: 0;
    transform: translateY(0.618rem);
  }
}

// .a-diagonal
.a-diagonal {
  opacity: 0;
  transform:  translateX(-0.618rem) translateY(-0.618rem);
  &.fadein {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
  &.fadeout {
    opacity: 0;
    transform: translateX(0.618rem) translateY(0.618rem);
  }
}

// .a-left
.a-left {
  opacity: 0;
  transform: translateX(0.618rem);
  &.fadein {
    opacity: 1;
    transform: translateY(0);
  }
  &.fadeout {
    opacity: 0;
    transform: translateX(0.618rem);
  }
}

// .a-right
.a-right {
  opacity: 0;
  transform: translateX(-0.618rem);
  &.fadein {
    opacity: 1;
    transform: translateY(0);
  }
  &.fadeout {
    opacity: 0;
    transform: translateX(-0.618rem);
  }
}

// .a-top
.a-top {
  opacity: 0;
  transform: translateY(-0.618rem);
  &.fadein {
    opacity: 1;
    transform: translateY(0);
  }
  &.fadeout {
    opacity: 0;
    transform: translateY(-0.618rem);
  }
}

// .a-bottom
.a-bottom {
  opacity: 0;
  transform: translateY(0.618rem);
  &.fadein {
    opacity: 1;
    transform: translateY(0);
  }
  &.fadeout {
    opacity: 0;
    transform: translateY(0.618rem);
  }
}
