//////////////////////
// bootstrap
//////////////////////

@import "bootstrap.min";

.collapse {
  display: none !important;
}
.collapse.active {
  display: block !important;
}

//////////////////////
// main
//////////////////////

body {
  background: transparent;
}
html:not(.full) {
  body {
    overflow: hidden;
  }
}
html.full {
  #body-inside {
    max-height: 100px; /* 370px; */
  }
}
scss-style {
  display: none;
}
