//////////////////////
// imports
//////////////////////

@import (less) "bootstrap.min.css";
@import "../../../../dist/_mixins.less";

//////////////////////
// variables
//////////////////////

//@color-primary: #ff00ff;

//////////////////////
// bootstrap
//////////////////////

.card-text {
  .box;
}

//////////////////////
// main
//////////////////////

body {
  background: transparent;
}
html:not(.full) {
  body {
    overflow: hidden;
  }
}
#body-inside {
  position: relative;
  float: left;
  width: 100%;
}
html.full {
  #body-inside {
    max-height: 370px;
  }
}
less-style {
  display: none;
}
