@import "bootstrap.min";

//////////////////////
// xtend
//////////////////////

@import "../../../../dist/_mixins.scss";
@import "../../../../dist/_vars.scss";

// override variables

//////////////////////
// bootstrap
//////////////////////

.card-text {
  @include box;
}

//////////////////////
// main
//////////////////////

body {
  background: transparent;
}
html:not(.full) {
  body {
    overflow: hidden;
  }
}
#body-inside {
  position: relative;
  float: left;
  width: 100%;
}
html.full {
  #body-inside {
    max-height: 370px;
  }
}
scss-style {
  display: none;
}
