@import "bootstrap.min";

//////////////////////
// xtend theme
//////////////////////

// colors
//$color-primary: #ff00ff;

// override theme
@import "../xtend/xt-theme.scss";

//////////////////////
// bootstrap
//////////////////////

.card-block {
  @include box;
  background: #ffffff;
}
.card-content {
  padding: 1.25rem;
}

//////////////////////
// custom theme
//////////////////////

/* spacer */
.spacer {
  &.site-breadcrumbs-body {
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 0;
    > * {
      margin-left: 0;
      margin-bottom: 0;
    }
  }
  &.site-breadcrumbs-meta {
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 0;
    > * {
      margin-left: 0;
      margin-bottom: 0;
    }
  }
}

/* buttons */
.button {
  /* styles */
  & {
    #{$active} {
      box-shadow: none;
    }
  }
  /* sizes */
  .demo-tabs &,
  .demo-code-tabs & {
    padding: 16px 12px 14px 12px;
    font-size: 12px;
  }
  .site-breadcrumbs-body & {
    padding: 15px 12px;
    font-size: 13px;
  }
  .site-breadcrumbs-meta & {
    padding: 14px 8px 13px 8px;
    font-size: 16px;
  }
  /* color-white */
  .site-header & {
    background: transparent !important;
    color: $color-white-light;
    #{$hover},
    #{$active} {
      color: $color-white;
    }
  }
  /* color-text */
  .demo-tabs &,
  .demo-code-tabs & {
    background: transparent !important;
    color: $color-text-light;
    #{$hover},
    #{$active} {
      color: $color-text;
    }
  }
}

/* .tooltip */
.tooltip-inner {
  padding: 6px 10px;
  border-radius: 0;
  background: $color-primary;
  @include font(sans-light);
  font-size: 0.809rem;
  color: $color-white;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  &:before {
    border-top-color: $color-primary !important;
  }
  // inverse
  &.tooltip-inverse {
    background: $color-white;
    color: $color-primary;
    &:before {
      border-top-color: $color-white !important;
    }
  }
}

/* alert */
.alert {
  position: relative;
  width: 100%;
  @include spacing-text;
  padding: 0.618rem 0.809rem;
  border: 0;
  border-radius: 0;
  font-size: 14px;
  line-height: 1.6;
}

//////////////////////
// sctructure
//////////////////////


.site-wrapper,
.site-wrapper-inside {
  @include box;
}

// sticky footer

.site-wrapper {
  display: flex;
  flex-flow: column;
  min-height: 100%;
}
.site-wrapper-inside {
  display: flex;
  flex-flow: column;
  flex: 1;
  min-height: 100%;
  -ms-flex-preferred-size: auto; // ie11 fix
}
.site-main {
  flex: 1;
  -ms-flex-preferred-size: auto; // ie11 fix
}

//////////////////////
// header
//////////////////////

/* .site-header */
.site-header {
  @include box;
  background: $color-primary;
}

/* .logo */
a.logo {
  @include box;
  margin: 11px 0 10px 0;
  @include font(sans-medium);
  color: $color-white-light;
  font-size: 1.238rem;
  text-decoration: none !important;
  #{$hover},
  #{$active} {
    color: $color-white;
  }
  #{$focus} {
    color: $color-white-light;
  }
}

/* .site-header-top */
.site-header-top {
  background: rgba($color-primary, 0.75);
  color: $color-white;
}

/*.site-menu */
.site-menu {
  .site-menu-outside {
    background: $color-primary;
    color: $color-white;
    // flex
    display: flex;
    flex-direction: row;
  }
  .site-menu-inside {
    padding-top: 100px;
    padding-bottom: 60px;
    // flex
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }
  // content
  .button {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    @include font(sans-light, !important);
    font-size: 2.619rem;
    color: $color-white;
    text-align: left;
    text-transform: capitalize;
    .line-container {
      .line {
        background: $color-primary;
      }
      .line:after {
        background: $color-white-light;
        //background: linear-gradient(to right, $color-white-light 0%, $color-white-lighter 100%);
      }
    }
    opacity: 0.75;
    #{$hover},
    #{$active} {
      color: $color-white;
      opacity: 1;
    }
  }
}

/* .site-hero */
.site-hero {
  @include box;
  color: $color-white;
  .media {
    min-height: 250px;
  }
  .h1 {
    margin-top: -0.4em !important;
  }
  .lead {
    color: $color-white-light;
  }
}

/* .site-breadcrumbs */
.site-breadcrumbs {
  @include box;
  cursor: default;
  .site-breadcrumbs-inside {
    @include box;
    padding-top: 5px;
    padding-bottom: 5px;
    background: $color-primary;
    color: $color-white;
    border-bottom: 3px solid $color-primary-light;
  }
}
.site-breadcrumbs-body-main {
  .site-breadcrumbs-body-sub {
    display: block;
    position: relative;
    z-index: 1;
    background: $color-primary;
    .button {
      float: left;
      clear: both;
      padding-top: 4px;
      padding-bottom: 4px;
      font-size: 10px;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 1rem;
      }
    }
  }
}

/* .button__menu */
$button__menu_pixels: 1px;
.button__menu {
  @include font(sans-light, !important);
  font-size: 19px !important;
  line-height: 1.2;
  text-transform: none !important;
  .site-header-top & {
    width: auto !important;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 0;
    padding-right: 0;
  }
  .site-breadcrumbs & {
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: 8px;
  }
  /* .icon-menu-custom */
  .icon-menu-custom {
    position: relative;
    font-size: 20px;
    width: 1em;
    height: 0.75em;
    top: 0.2em;
    span {
      display: block;
      position: absolute;
      height: $button__menu_pixels;
      width: 100%;
      background: $color-white-light;
      border-radius: 0;
      left: 0;
      transform: rotate(0deg);
      transition: all 1100ms cubic-bezier(0.19, 1, 0.22, 1) 100ms;
    }
    span:nth-child(1) {
      top: 0;
      transform-origin: left center;
    }
    span:nth-child(2) {
      top: calc(0.4em - #{$button__menu_pixels} * 1);
      transform-origin: left center;
    }
    span:nth-child(3) {
      top: calc(0.8em - #{$button__menu_pixels} * 2);
      transform-origin: left center;
    }
  }
  &.active {
    .icon-menu-custom {
      span:nth-child(1) {
        transform: rotate(45deg);
        top: 0;
        left: 0;
      }
      span:nth-child(2) {
        width: 0%;
        opacity: 0;
      }
      span:nth-child(3) {
        transform: rotate(-45deg);
        top: calc(0.8em - #{$button__menu_pixels} * 2);
        left: 0;
      }
    }
  }
  #{$hover},
  #{$active} {
    .icon-menu-custom {
      span {
        background: $color-white;
      }
    }
  }
}

//////////////////////
// footer
//////////////////////

.site-footer {
  padding-bottom: 2rem;
  background: $color-primary;
  border-top: 3px solid $color-primary-light;
  .separator {
    margin-left: 5px;
    margin-right: 5px;
  }
}

/* .site-footer-top */
.site-footer-top {
  margin-left: -12px;
  margin-right: -12px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0;
  .button {
    padding: 18px 12px;
    font-size: 13px;
  }
}

/* .site-footer-bottom */
.site-footer-bottom {
  font-size: 13px;
  color: $color-white-light;
  a:not(.button) {
    color: $color-white;
    #{$hover},
    #{$active},
    #{$focus} {
      color: $color-white;
      text-decoration: underline;
    }
  }
}

//////////////////////
// clip-path
//////////////////////

/*
.site-footer {
  padding-top: 20px;
  -webkit-clip-path: polygon(0 0, 100% 20px, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 20px, 100% 100%, 0 100%);
}
.site-breadcrumbs {
  background: $color-primary;
  height: 56px;
  .site-breadcrumbs-inside {
    background: $color-primary;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 20px));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 20px));
    .site-breadcrumbs-body-sub {
      .button {
        &:last-child {
          padding-bottom: 2rem;
        }
      }
    }
  }
}
*/

//////////////////////
// main
//////////////////////

.site-main {
  background: #ffffff;
}

/* .site-article */
.site-article {
  @include box;
  margin-top: 2.619rem;
  margin-bottom: 2.619rem;
}

/* .site-aside */

.site-aside {
  margin-top: 2.619rem;
  margin-bottom: 2.619rem;
}
.site-aside-text {
  line-height: 0;
  .button {
    padding: 0;
    padding-top: 6px;
    width: 100%;
    background: transparent !important;
    @include font(sans-regular);
    color: $color-text-light;
    text-align: left;
    letter-spacing: 0;
    text-transform: none;
    #{$hover},
    #{$active} {
      color: $color-text;
    }
  }
  .button {
    font-size: 1.238rem;
    &.different {
      display: none;
    }
  }
  .site-aside-text + & {
    //margin-top: 0.618rem;
  }
  .button.site-aside-sub {
    //margin-top: 0.309rem;
    padding-top: 12px;
    padding-bottom: 3px;
    font-size: 13px;
  }
  .button.site-aside-subsub {
    //margin-top: 0.309rem;
    padding-left: 6px;
    font-size: 12px;
  }
}

/* .make-line */
.make-line {
  position: relative;
  .line-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    .line {
      display: inline-block;
      padding-right: 15px;
      background: #ffffff;
    }
    .line:after {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 0.468em;
      left: 0;
      width: 100%;
      height: 1px;
      background: $color-primary-light;
      //background: linear-gradient(to right,  lighten($color-primary, 15%) 0%,  lighten($color-primary, 30%) 100%);
      @at-root {
        h2#{&} {
          height: 1px;
        }
      }
    }
  }
  // animations
  .line:after {
    left: 100%;
    width: 0;
    opacity: 0;
    transition: opacity 600ms cubic-bezier(0.19, 1, 0.22, 1) 100ms;
    animation: line-fadeout 600ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  #{$hover} {
    .line:after {
      left: 0;
      width: 100%;
      opacity: 1;
      transition: opacity 600ms cubic-bezier(0.19, 1, 0.22, 1) 100ms;
      animation: line-fadein 600ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}
@keyframes line-fadeout {
  0% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
@keyframes line-fadein {
  0% {
    left: 0;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}

/* .site-article-anchor */
.make-anchor {
  position: relative;
  a {
    color: $color-text !important;
  }
  .site-article-anchor {
    pointer-events: none;
    opacity: 0;
    transition: opacity 1000ms cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 200ms;
  }
  #{$hover},
  #{$active} {
    .site-article-anchor {
      opacity: 1;
      transition-delay: 0ms;
    }
  }
}
.site-article-anchor {
  position: absolute;
  bottom: -1px;
  right: 12px;
  .button {
    padding: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $color-white !important;
    font-size: 17px;
    color: $color-primary;
    line-height: 1;
    #{$hover},
    #{$active} {
      color: $color-primary;
    }
  }
}

//////////////////////
// demos
//////////////////////

/* .hljs */
.hljs {
  padding: 0;
  width: 100%;
  margin-top: -0.238rem;
  padding: 0 1rem;
  padding-bottom: 1rem;
}
pre {
  position: relative;
  width: 100%;
  line-height: 0;
  margin-bottom: 1.238rem;
  .demo & {
    margin-top: 0;
    margin-bottom: 0;
  }
}
pre code {
  float: left;
  @include font(sans-mono);
  font-size: 12px !important;
  line-height: 1.6;
  white-space: pre-wrap !important;
}
p code,
.demo-text code {
  margin: 0 .2rem;
  padding: .2rem .2rem;
  @include font(sans-mono);
  font-size: 12px;
  color: #d14;
  border-radius: 0;
  background: $color-grey;
}
.demo-text code {
  background: darken($color-grey, 4%);
}

/* .demo */
.demo {
  @include clearfix;
  display: block;
  position: relative;
  width: 100%;
  margin-top: 1.619rem;
  margin-bottom: 1.619rem;
  background: $color-grey;
  // code
  .demo-code {
    @include box;
  }
  .demo-item {
    line-height: 0;
    @include box;
    display: none;
    &.active {
      display: block;
    }
  }
  .demo-source {
    position: relative;
    z-index: 3;
    line-height: 1.8;
  }
  .demo-item.populated .demo-code-body-item {
    display: none;
    &.active {
      display: block;
    }
  }
  .demo-code-body {
    z-index: 1;
  }
  // iframe + .demo-source
  iframe {
    width: 100%;
    height: 370px;
  }
  iframe,
  .demo-source {
    padding: 1rem;
  }
  .demo-text + iframe,
  .demo-text + .demo-source {
    padding-top: 0;
  }
  .demo-source {
    &:not([data-lang="html"]) {
      display: none;
    }
  }
  // .hljs
  pre {
    margin-bottom: 0 !important;
  }
  .hljs {
    margin: 0;
    padding: 0;
  }
  // .demo-text
  .demo-text {
    font-size: 14px;
    line-height: 1.6;
  }
  // others
  .button__fullscreen {
    display: none;
  }
}

/* .demo max height */
pre {
  max-height: 370px;
}
.demo-item:not(.populated) .demo-code-body {
  height: 370px;
}

/* .demo paddings */
.demo {
  .demo-tabs,
  .demo-code-tabs {
    z-index: 2;
    padding: 0 0.382rem;
  }
  .demo-code-body-item {
    @include box;
    padding: 1rem;
  }
  .demo-text {
    padding: 0.809rem 1rem;
  }
}

/* .demo shadow style */
.demo-tabs,
.demo-code-tabs {
  background: darken($color-grey, 4%);
  background: linear-gradient(to right, darken($color-grey, 4%) 0%, darken($color-grey, 0%) 100%);
}

//////////////////////
// developer-mode
//////////////////////

.developer {
  display: none !important;
}
.developer-show {
  display: inline-block !important;
}

//////////////////////
// xt
//////////////////////

// .site-footer
@include xt-scroll('.site-footer', 'bottom');
.site-footer {
  z-index: 4 !important;
  width: 100%;
}
.site-header {
  z-index: 6 !important;
}
.site-main {
  z-index: 5 !important;
}

// .site-header-top
@include xt-scroll('.site-header-top[data-xt-scroll]');
.site-header-top[data-xt-scroll] {
  width: 100%;
  &.scroll-on-bottom {
    animation: top-fadein 600ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

// .site-breadcrumbs
@include xt-scroll('.site-breadcrumbs');
.site-breadcrumbs {
  &.active {
    z-index: 71 !important;
    .site-breadcrumbs-meta,
    .show-scroll {
      animation: right-fadein 600ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}

// .site-aside
@include xt-scroll('.site-aside', 'top', 56px);
.site-aside {
  z-index: 69 !important;
}
  
// .site-menu
html.active,
html.fadeout {
  .site-menu {
    z-index: 69 !important;
    .site-header-top {
      position: absolute;
      width: 100%;
    }
  }
  // below demos overlay...
  .site-breadcrumbs,
  .site-header-top {
    z-index: 68 !important;
  }
}
.site-menu.active {
  display: block;
  .site-menu-content {
    .button {
      .line-container {
        opacity: 0;
        animation: left-fadein 600ms cubic-bezier(0.19, 1, 0.22, 1);
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }
      &:nth-child(1) {
        .line-container {
          animation-delay: 30ms;
        }
      }
      &:nth-child(2) {
        .line-container {
          animation-delay: 60ms;
        }
      }
      &:nth-child(3) {
        .line-container {
          animation-delay: 90ms;
        }
      }
      &:nth-child(4) {
        .line-container {
          animation-delay: 120ms;
        }
      }
      &:nth-child(5) {
        .line-container {
          animation-delay: 150ms;
        }
      }
      &:nth-child(6) {
        .line-container {
          animation-delay: 180ms;
        }
      }
    }
  }
}
.site-menu.active.fadeout {
  opacity: 1 !important;
  transform: none !important;
  .site-menu-content {
    .button {
      .line-container {
        opacity: 1;
        animation: right-fadeout 300ms cubic-bezier(0.19, 1, 0.22, 1);
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
        -o-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
      }
      &:nth-child(1) {
        .line-container {
          animation-delay: 6ms;
        }
      }
      &:nth-child(2) {
        .line-container {
          animation-delay: 5ms;
        }
      }
      &:nth-child(3) {
        .line-container {
          animation-delay: 4ms;
        }
      }
      &:nth-child(4) {
        .line-container {
          animation-delay: 0.03s;
        }
      }
      &:nth-child(5) {
        .line-container {
          animation-delay: 2ms;
        }
      }
      &:nth-child(6) {
        .line-container {
          animation-delay: 1ms;
        }
      }
    }
  }
}

//////////////////////
// animations
//////////////////////

@keyframes top-fadein {
  0% {
    opacity: 0;
    transform: translateY(-0.618rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes left-fadein {
  0% {
    opacity: 0;
    transform: translateX(-0.618rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes right-fadein {
  0% {
    opacity: 0;
    transform: translateX(0.618rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes right-fadeout {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(0.618rem);
  }
}
