//////////////////////
// ratios
//////////////////////

/* ratios
0.618
0.809
1
1.238
2.619
3.224
*/

//////////////////////
// colors
//////////////////////

$color-primary: #00B0FF !default;
$color-primary-dark: darken($color-primary, 15%) !default;
$color-primary-darker: darken($color-primary, 30%) !default;
$color-primary-light: lighten($color-primary, 15%) !default;
$color-primary-lighter: lighten($color-primary, 30%) !default;

$color-text: #000000 !default;
$color-text-light: lighten($color-text, 50%) !default;

$color-background: #ffffff !default;

$color-white: #ffffff !default;
$color-white-light: rgba($color-white, 0.75) !default;
$color-white-lighter: rgba($color-white, 0.5) !default;

$color-grey: #f8f8f8 !default;

$color-black: #000000 !default;

//////////////////////
// fonts
//////////////////////

// usage: @include font(sans-regular);
$xt-fonts: (
  sans-light: (
    font-family: unquote('"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif'),
    font-weight: 300,
    font-style: normal,
  ),
  sans-regular: (
    font-family: unquote('"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif'),
    font-weight: 400,
    font-style: normal,
  ),
  sans-medium: (
    font-family: unquote('"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif'),
    font-weight: 500,
    font-style: normal,
  ),
) !default;

// export fonts
@mixin font($key, $important:false) {
  $map: map-get($xt-fonts, $key);
  @each $property, $value in $map {
    @if $important == !important {
      #{$property}: $value !important;
    } @else {
      #{$property}: $value;
    }
  }
}

//////////////////////
// spacing
//////////////////////

// @include spacing-headers;
@mixin spacing-headers {
  margin-top: 1.238rem;
  margin-bottom: 0.809rem;
  &:first-child {
    margin-top: 0 !important;
  }
}

// @include spacing-headers-small;
@mixin spacing-headers-small {
  margin-top: 0.809rem;
  margin-bottom: 0.618rem;
  &:first-child {
    margin-top: 0 !important;
  }
}

// @include spacing-text;
@mixin spacing-text {
  margin-bottom: 0.618rem;
  &:last-child {
    margin-bottom: 0 !important;
  }
}

//////////////////////
// mixins
//////////////////////

// @include box;
@mixin box {
  position: relative;
  float: left;
  width: 100%;
}

// #{$hover} {}
$hover: "&:hover:not(.active), &.hover:not(.active)";

// #{$active} {}
$active: "&:active, &.active, &:active:focus, &:active.focus, &.active:focus, &.active.focus";

// #{$focus} {}
$focus: "&:focus, &.focus";
